.page-career .content-wrapper {

  .item {
    width: 100% !important;
  }

  .content-top .item {
    margin: 0 0 20px;

    .text {
      padding: 20px 30px;
    }
  }

  .content-middle {

    .control {
      margin-bottom: 30px;
    }

    .item {
      margin: 0 0 40px;
    }
  }
}