.page-news-inner .content-wrapper {

  .text {
    width: 366px;
  }

  .block-title h1 {
    font-size: 44px;
  }

  .gallery {
    margin-bottom: 20px;
    display: block;

    .flex-direction-nav {
      display: block;
    }
  }

  .thumbnail {
    display: none;
  }
}