.b-popup {

  .inner-popup {
    width: 290px;
  }

  .title-1 {
    left: 64px;
    top: 2px;
    font-size: 22px;
  }

  .title-2 {
    margin-bottom: 35px;
    font-size: 64px;

    &:before {
      font-size: 30px;
      right: 51px;
      bottom: -9px;
    }
  }

  .title-3 {
    width: 132px;
    right: -19px;
    top: 81px;
    font-size: 20px;
  }

  .text {
    font-size: 24px;

    p {
      margin-bottom: 20px;
    }
  }

  .btns-control {
    font-size: 48px;
    top: -5px;

    a {
      margin: 0 18px;

      &:before {
        display: none;
      }
    }

    .icon {
      display: none;
    }
  }
}