.form-newsletter {

  .form-actions {
    position: relative;
    z-index: 1;
    float: right;
    margin: -45px 0 0;
  }

  label {
    font-weight: bold;
  }

  .form-type-radio, .form-type-checkbox {

    input[type="checkbox"],
    input[type="radio"] {

      &:checked + label:before {
        background: #fff;
      }
    }

    input[type="checkbox"] + label,
    input[type="radio"] + label {
      line-height: 1.3;

      &:before {
        border: 1px solid #fff;
      }
    }
  }
}