.page-contact .content-wrapper {

  .left-part {
    width: 500px;
    float: left;
    margin-right: 88px;
  }

  .right-part {
    overflow: hidden;
    border-left: 1px solid #acacac;
    text-align: center;
    padding: 0 120px 0 80px;

    h2 {
      font-family: $din-cond-bold;
      line-height: 1;
      margin-bottom: 55px;
    }
  }

  .top-text {
    font-size: 24px;
    font-family: $din-cond-medium;
    line-height: 1.2;
  }

  .top-text, .text {
    max-width: 416px;
    margin-bottom: 40px;
  }

  .thank-you {
    margin-top: 20px;
    text-align: center;
  }

  .social-menu {

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0 0 40px;
        padding: 0;
        list-style: none;
        text-align: center;
      }

      a {
        display: inline-block;
        @include transition(opacity .3s);
        position: relative;

        &:hover {

          &:before {
            @include transform(translate(-50%, 0));
            opacity: 1;
          }
        }

        &:before {
          @include pseudo-block($left: 50%, $bottom: -20px);
          width: 100px;
          border-bottom: 12px solid #000;
          @include transform(translate(-50%, 10px));
          @include transition(all .3s);
          opacity: 0;
        }
      }

      .social-1 a {
        @include retina-sprite(social-1-b);
      }

      .social-2 a {
        @include retina-sprite(social-2-b);
      }

      .social-3 a {
        @include retina-sprite(social-4-b);
      }

      .social-4 a {
        @include retina-sprite(social-5-b);
      }

      .social-5 a {
        @include retina-sprite(social-6-b);
      }
    }
  }
}