.form-cannabis-select {
  margin-bottom: 30px;

  .form-item {
    margin: 0;
  }

  .select2-container {
    max-width: 100%;

    .select2-selection--single {

      .select2-selection__rendered {
        background: none;
        font-size: 69px;
        font-family: $din-cond-bold;
        line-height: 1;
        border: 3px solid $color-b;
        padding-top: 0;
        padding-bottom: 0;
        color: $color-a;
        padding-right: 110px;
        text-transform: uppercase;
        @include transition(all .3s);

        &:hover {
          opacity: 1;
          color: $color-b;
          border-color: $color-a;
        }
      }

      .select2-selection__arrow b {
        @include oneline-sprite-box($icons, big-arrow-style-a);
        right: 30px;
      }
    }
  }
}