.form-job {

  .form-item {
    margin: 0;
  }

  .select2-container {
    max-width: 100%;

    .select2-selection--single {

      .select2-selection__rendered {
        background: none;
        font-size: 35px;
        font-family: $din-cond-bold;
        line-height: 1;
        border: 2px solid $color-b;
        padding-top: 0;
        padding-bottom: 0;
        color: $color-a;
        padding-right: 70px;
        text-transform: uppercase;
        @include transition(all .3s);

        &:hover {
          opacity: 1;
          color: $color-b;
          border-color: $color-a;
        }
      }

      .select2-selection__arrow b {
        @include oneline-sprite-box($icons, icon-arrow-style-b);
        right: 18px;
      }
    }
  }
}