body:not(.mobile-device) .section-top .parallax-bg-inner {
  height: 100% !important;
  width: 100% !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  left: 50%;
  @include transform(translate(-50%, 0));
  background-position: 50% 0;
}

.section-top {
  position: relative;
  background: $color-c;

  .parallax-bg {
    background-image: image-url('bg/bg-content.jpg');
  }

  .mobile-top-image {
    display: none;
  }

  .media {
    height: 442px;
    overflow: hidden;
    position: relative;

    .front & {
      height: 560px;
    }

    .page-contact &, .page-news & {
      height: 500px;

      @media (max-width: 1500px) {
        height: 300px;
      }
    }
  }

  .video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    @include transform(translate(-50%, -50%));
    @include background-size(cover);
  }

  .title {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    @include translate(0, -50%);
    top: 50%;
    padding: 0 7%;

    img {
      visibility: hidden;
    }

//    .front & {
//      top: 30%;
//    }

//    img {
//      max-width: 420px;
//
//      .page-education & {
//        max-width: 320px;
//      }
//
//      @media (max-width: 1500px) {
//        .page-contact &, .page-news & {
//          max-width: 280px;
//        }
//      }
//    }
  }

  .desc {
    max-width: 240px;
    position: absolute;
    left: 50%;
    bottom: 166px;
    @include transform(translateX(-50%));
    color: #fff;
    text-align: center;

    .btn-wrap {
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
    }
  }

  .text {
    width: 380px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 90px;
    color: #fff;
    position: absolute;
    font-family: $din-cond-medium;
    text-align: center;

    @media (max-width: 1500px) {
      bottom: 30px;
    }

    & + .title-2 {

      @media (max-width: 1500px) {
        padding-bottom: 70px;
      }
    }
  }
}