.page-gallery-type-2 .content-wrapper {

  h3 {
    text-align: center;
  }

  .list {
    text-align: center;

    li {
      display: inline-block;
      vertical-align: top;
      float: none;
    }
  }
}