.page-downloads .content-wrapper {

  .block-title {
    position: relative;
    margin-bottom: 40px;

//    h1 {
//      position: static;
//    }

    .text {
      max-width: 580px;
    }
  }

  .content-items {
    margin-bottom: 48px;

    h3 {
      font-family: $din-cond-bold;
      color: $color-b;
      margin-bottom: 25px;
    }

    .items {
      margin: 0 -8px;
    }

    .item {
      max-width: 359px;
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      margin-bottom: 14px;
      padding: 16px;
      background: #fff;
      @include box-shadow(2px 2px 6px -3px #676767);

      &.small {

        .desc {
          margin-bottom: 15px;
        }
      }

      &:not(.small) {

        .controls {
          display: table;
          width: 100%;
        }

        .desc, .btn-wrap {
          display: table-cell;
        }

        .btn-wrap {
          text-align: right;
        }
      }
    }

    .img {
      margin-bottom: 15px;
    }

    .desc {
      line-height: 1.4;
      vertical-align: top;
    }

    .btn-wrap {
      margin: 0;
      vertical-align: bottom;

      a {
        font-family: $din-cond-bold;
        background: $color-c;
        color: $color-b;

        &:hover {
          background: $color-a;
          color: #fff;
        }
      }
    }
  }
}