.form-filter {
  display: inline-block;
  vertical-align: top;

  .form-item {
    margin: 0;
  }

  .select2-container {
    vertical-align: top;

    .select2-selection--single {

      .select2-selection__rendered {
        background: none;
        font-size: 48px;
        font-family: $din-cond-bold;
        line-height: 1;
        border: 3px solid $color-a;
        padding-top: 0;
        padding-bottom: 0;
        color: $color-a;
        padding-right: 50px;
        text-transform: uppercase;
        @include transition(all .3s);

        &:hover {
          opacity: 1;
          border-color: $color-b;
        }
      }

      .select2-selection__arrow b {
        @include oneline-sprite-box($icons, icon-arrow-style-d);
        right: 20px;
      }
    }
  }
}