.form-select-strain {
  float: right;
  text-align: right;
  margin-top: -16px;
  margin-bottom: 46px;
  display: none;

  label {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .form-item {
    margin: 0;
  }

  .select2-container {
    width: 205px;
  }
}